#tag-selector-btn {
  position: absolute;
  background-color: var(--background-color);
  z-index: 9999;
  top: 18px; /* 18px - Tag Selector Location */
  left: 95px; /* 95px - Tag Selector Location */
}

#tag-selector {
  display: none;
  /* height: calc(100vh - 100px); /* 100vh 100px original - box height COMMENTED OUT */ 
  position: absolute;
  background-color: var(--background-color);
  z-index: 9999;
  top: 85px; /* 85px original - Menu */
  left: 18px; /* 18px original - Menu */
  width: 500px; /* 300px original - Menu Width ADDED */
  /* max-width: 300px; /* 510px original - */
  animation: fadeIn 0.05s linear;
  padding: 0 0px 0 0px; /* 0 20px 0 20px original - */
}

#tag-selector-content {
  /* height: 100%; /* 100% - ADDED */
  /* overflow: scroll; - commented out */
}

.tag-btn,
.tag-child-btn {
  font-size: 16px !important; /* 12px original - menu font size */
  text-transform: uppercase;
  padding: 0 0px 0 0px; /* 0 20px 0 20px original - ADDED */  
  margin: 0px;  /* 0px original - ADDED */  
}

.tag-btn.selected,
.tag-btn.selected:hover {
  color: var(--text-color);
  background-color:var(--body-background-color);
}

.tag-btn.unselected,
.tag-btn.unselected:hover {
  color: var(--btn-disabled-tag-btn-color);
  background-color: transparent;
  background-image: none;
  text-decoration:line-through;
}

.tag-child-btn.selected,
.tag-child-btn.selected:hover {
  color: var(--text-color);
  background-color: var(--body-background-color);
  border-color: var(--body-background-color);
}

.tag-child-btn.unselected,
.tag-child-btn.unselected:hover {
  color: var(--btn-disabled-tag-child-btn-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--btn-disabled-tag-child-btn-color);
  text-decoration:line-through;
}



#qtag-selector-btn {
  position: absolute;
  background-color: var(--background-color);
  z-index: 9999;
  top: 18px; /* 18px original - */
  left: 165px; /* 165px original - */
}

#qtag-selector {
  display: none;
  height: calc(100vh - 100px);
  position: absolute;
  background-color: var(--background-color);
  z-index: 9999;
  top: 85px;
  left: 18px;
  max-width: 510px;
  animation: fadeIn 0.05s linear;
  padding: 0 20px 0 20px;
}

#qtag-selector-content {
  height: 100%;
  overflow: scroll;
}

.qtag-btn,
.qtag-child-btn {
  font-size: 12px !important;
  text-transform: uppercase;
}

.qtag-btn.selected,
.qtag-btn.selected:hover {
  color: var(--text-color);
  background-color:var(--body-background-color);
}

.qtag-btn.unselected,
.qtag-btn.unselected:hover {
  color: var(--btn-disabled-tag-btn-color);
  background-color: transparent;
  background-image: none;
  text-decoration:line-through;
}

.qtag-child-btn.selected,
.qtag-child-btn.selected:hover {
  color: var(--text-color);
  background-color: var(--body-background-color);
  border-color: var(--body-background-color);
}

.qtag-child-btn.unselected,
.qtag-child-btn.unselected:hover {
  color: var(--btn-disabled-tag-child-btn-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--btn-disabled-tag-child-btn-color);
  text-decoration:line-through;
}